.container {
    display: grid;
    grid-template-columns: repeat(3, 3fr) 2fr;
    grid-template-rows: 1fr 2fr repeat(5, 3fr);
    grid-template-areas: "ss ss ss ss"
                         "ss ss ss ss"
                         "ac ac . ."
                         ". . . ."
                         ". . . ."
                         ". . . ."
                         ". . eq eq";
                         grid-gap: 5px;
    width: 20%;
    margin: 10% auto;
   text-align: right;
   border: 10px solid var(--secondary-color);
   border-radius: 40px;
   padding: 15px;
   background-color: var(--third-color) ;
   font-weight:700;
   height: 400px;
   
    
}
.screen {
    grid-area: ss ;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ts"
                         "bs" ;
    font-size: large;
    padding: 0;
    margin:0;
    margin-left: auto;
    width:fit-content;
    text-align: right;
    background-color: var(--third-color);
    color: var(--forth-color);
    padding: 1% 4%;
    
}

.topScreen {
    grid-area: ts;
    padding: 0;
    padding-bottom: auto;
    font-style:oblique;
    font-weight: 500;
    font-size: 80%;
}
.bottomScreen {
    grid-area: bs;
    font-size:x-large;
}
.key {
    cursor: pointer;
    border: 1px solid white;
    background-color: var(--forth-color);
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    font-weight:bold;
    border-radius: 10px;
}
.key:hover, key:active {
    background-color: var(--third-color);
    color: var(--forth-color);
    transition: all 0.05s;
}


.key:nth-child(2) {
    grid-area: ac;
   
}
.key:last-child {
    grid-area: eq;
}
.footer {
    text-align: center;
}



